*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#111827;

    color:white;

    font-family:Arial, Helvetica, sans-serif;

    display:flex;

    justify-content:center;

    padding:20px;

}

.app{

    width:100%;

    max-width:430px;

}

.header{

    text-align:center;

    margin-bottom:20px;

}

.header h1{

    font-size:32px;

    margin-bottom:12px;

}

.connection{

    display:inline-flex;

    align-items:center;

    gap:8px;

    color:#22c55e;

    font-weight:bold;

}

.live-dot{

    width:10px;

    height:10px;

    background:#ef4444;

    border-radius:50%;

}

.card{

    background:#1F2937;

    border:1px solid #374151;

    border-radius:16px;

    padding:18px;

    margin-bottom:16px;

}

.card h2{

    margin-bottom:12px;

    font-size:20px;

}

.card p{

    color:#9CA3AF;

}

.card h3{

    margin-top:10px;

    font-size:34px;

}